#cameraView {
  border: 5px solid red;
  width: calc(100% - 10px);
  height: calc(100% - 50px);
  position: fixed;
}

#Ui {
  height: 100%;
  width: 100%;
  background-color: rgb(200, 200, 255);
  position: fixed;
}
