:root {
  --safeAreaBtm: env(safe-area-inset-bottom);
  --safeAreaTop: env(safe-area-inset-top);
}


#Ui {
  top:var(--safeAreaTop);
  height:calc(100% - var(--safeAreaTop) - var(--safeAreaBtm));
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

#head {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  align-items: center;
  grid-gap: 5px;
  font-size: 18px;
}

#head > div {
  margin: 5px;
}

#sectionAnnot {
  flex-grow: 2;
  text-align: right;
}

#cameraView {
  /* border: 5px solid black; */
  width: 100%;
  height: 100%;
  /* position: fixed; */
}


#navi {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  align-items: baseline;
  justify-content: center;
}
