:root {
  --safeAreaBtm: env(safe-area-inset-bottom);
  --safeAreaTop: env(safe-area-inset-top);
}

#cameraView {
  /* border: 5px solid black; */
  width: 100%;
  height: 100%;
  /* position: fixed; */
}

#Ui {
  top:var(--safeAreaTop);
  height:calc(100% - var(--safeAreaTop) - var(--safeAreaBtm));
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}


#navi {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  align-items: baseline;
  justify-content: center;
}
